[mysqld]

sql_mode                        = ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
performance_schema              = OFF
event_scheduler                 = ON
max_allowed_packet              = 512M
max_connections                 = 100
wait_timeout                    = 300
secure_file_priv                = ""
group_concat_max_len            = 18446744073709551615
default-time-zone               = "+00:00"
explicit_defaults_for_timestamp = 1
